# Exercise 13: Writing Functions

## Aim: Introduce writing and calling functions.

### Issues covered:
- Writing a simple function
- Indenting code within a function
- Sending arguments to functions
- Calling functions
- Checking arguments in functions

## 1. Let's write a simple function and use it

Use the `def` function to define a function called `hello` to introduce yourself.

In [19]:
def hello(name: str):
    #print('hello my name is ', name)
    return ('hello my name is '  + name)

Did the function return anything? If not, try running it!

In [20]:
a= hello("V")
print(a)

hello my name is V

## 2. Now let's write a function that takes an argument

Write a function which takes a number and doubles it.

In [25]:
def doubles(number):
    b = number *2
    print(b)

Test the function by calling it with an integer, then a float.

In [26]:
doubles(4)

8

In [27]:
doubles(4.0)

8.0

What happens if you give it a string rather than a number?

In [28]:
doubles('4')

44

What happens if you give it 2 numbers?

In [29]:
doubles(4,4)

TypeError: doubles() takes 1 positional argument but 2 were given

## 3. Let's take a look at what functions return

Why is the result of the following `None`? Can you fix it?
```
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    print(time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)
```

In [31]:
def print_time(hour, minute, second):
    time_string = str(hour) + ':' + str(minute) + ':' + str(second)
    print(time_string)
    return (time_string)

result = print_time(11, 37, 59)
print('result of call is:', result)

11:37:59
result of call is: 11:37:59

Run the following and take a look at what it prints. Restructure it so that instead it prints `calling pressure is 22.5`.
```
def report(pressure):
    print('pressure is', pressure)

print('calling', report, 22.5)
```

In [42]:
def report(pressure):
    #print('calling pressure is ' pressure)
    return ('calling pressure is ' + str(pressure))

report(22.5)

'calling pressure is 22.5'

## 4. Let's write a function to use Pythagoras' Theorem, like in exercise 2.

Define a function `calc_hypo` that takes two arguments, `a` and `b`. Inside the function, define a variable `hypo` equal to the length of the hypotenuse and return the value.

In [43]:
def calc_hypo(a, b):
    hypo = (a**2+ b**2)**0.5
    return (hypo)

Test out the function by calling it with the values `3` and `4`.

In [44]:
calc_hypo(3,4)

5.0

Let's improve the function by adding some checks. Use `if` statements to print "bad argument" and return `None` if the argument type isn't `int` or `float`.

In [54]:
def calc_hypo(a, b):
    if (type(a) not in (int,float)) and (type(b) not in (int,float)):
        print("Bad argument")
    else: 
        hypo = (a**2+ b**2)**0.5
        return (hypo)

Call the function with different arguments to check that this is working.

In [55]:
calc_hypo(3,4)

5.0

In [57]:
calc_hypo('v', 'g')

Bad argument

Add a second check to the function which prints "Bad argument" and returns `None` if a number equal to or less than zero is given.

In [58]:
def calc_hypo(a, b):
    if (type(a) not in (int,float)) and (type(b) not in (int,float)):
        print("Bad argument")
    else: 
        if (a<=0) and (b<=0):
            print("None")
        else:
            hypo = (a**2+ b**2)**0.5
            return (hypo)

Test out the check you added.

In [59]:
calc_hypo(3,4)

5.0

In [60]:
calc_hypo(0,-1)

None

## 5. Extension Activity

1. Write a function which computes the average GDP for each file for a given country, continent and year.

_Hint: You will need the following steps:_
1. Create a function with the arguments country, continent, year.
2. Read the csv file (use the continent variable in the filename to open any file - e.g. the file name should be /data/`continent`_gdp.csv).
3. Use `.loc[ ]` to locate where the data for the country is.
4. Work out the GDP decade using the year given (maybe using floor division `//`).
5. Loop over the columns to find the one which starts with 'gdpPercap_`year`' (make use of `.index` and `.startswith()`).
6. Try calling the function and see what it returns - if you call it for Canada, americas in 1952 your answer should be 11928.55559.

In [65]:
import pandas as pd
import glob

continents = ['americas', 'europe', 'oceania']

#for filenames in glob.glob('data/.csv'):
    
def average_GDP(country, continent, year):

    df = pd.read_csv('/data/'+continents+'_dgp.csv')